<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1031056d-5b9e-483c-9b9e-db83bfe527a5/resourceGroups/Learn-6e1ad9e6-3ad7-4f60-aec1-0fc41824121f/providers/Microsoft.Web/sites/ssurihomeApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://ssurihomeapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>ssurihomeapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ssurihomeApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ssurihomeApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>